<section class="bg-sable text-sombre border-b py-6">
<div class="container max-w-4xl mx-auto mt-0 m-8">
    <h1 class="w-full mt-0 mb-6 text-3xl md:text-5xl font-bold leading-tight text-center">
        PARCOURS ENFANTS
    </h1>
    <div class="w-full mb-4">
        <div class="mx-auto px-8 leading-relaxed text-lg text-sombre">
            <p>
    Tu vas tester ton agilité, ta peur du vide. Marcher sur un tronc, franchir une passerelle, passer un filet, un pont de singe, un pont tibétain, et le grand final c’est la tyrolienne : tu vas glisser le long d'un câble comme un oiseau et atterrir contre un matelas douillet.
            </p>
        </div>
    </div>
    <figure>
        <div class="relative m-5" style="padding-top: 56.25%">
            <iframe src="https://www.youtube-nocookie.com/embed/4MJ9dm3xM_I" class="absolute inset-0 w-full h-full" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </figure>
    <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 p-6">
            <figure class="popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                <img class="thumbnail" src="/thumbs/1000×1000×max/1616771294_sunshine-atelier-enfant4.jpg" data-image="1">
            </figure>
        </div>
        <p>
            <a class="thumbnail"></a>
        </p>
        <div class="w-full sm:w-1/2 p-6">
            <h3 class="text-3xl font-bold leading-none mb-3">
                    UN ÉQUIPEMENT LÉGER ET PÉDAGOGIQUE
            </h3>
            <p>
                    Tu vas tester ton agilité, ta peur du vide. Marcher sur un tronc, franchir une passerelle, passer un filet, un pont de singe, un pont tibétain, et le grand final c’est la tyrolienne : tu vas glisser le long d'un câble comme un oiseau et atterrir contre un matelas douillet .
            </p>
        </div>
    </div>
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
        <div class="w-full sm:w-1/2 p-6">
            <h3 class="text-3xl font-bold leading-none mb-3">
                    5 PARCOURS UNIQUES&nbsp;
            </h3>
            <p>
                    Tu vas vivre des sensations fortes avec l'enchaînement de trois tyroliennes géantes qui traversent le vallon du Boulidou, et faire un super saut de Tarzan dans ses parcours aériens. Tout cela en toute sécurité avec les longes et mousquetons CLIC-IT qui permettent de ne jamais décrocher les 2 mousquetons en même temps et le système de freinage ZIP STOP à l'arrivée de nos 3 tyroliennes géantes .
            </p>
        </div>
        <div class="w-full sm:w-1/2 p-6">
            <figure class="popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                <img src="/thumbs/1000×1000×max/1616764728_sunshine-atelier-enfant3.jpg" data-image="1">
            </figure>
        </div>
    </div>
    <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 p-6">
            <figure class="popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                <img class="thumbnail" src="/thumbs/1000×1000×max/1616764807_sunshine-atelier-enfant.jpg" data-image="1">
            </figure>
        </div>
        <p>
            <a class="thumbnail"></a>
        </p>
        <div class="w-full sm:w-1/2 p-6">
            <h3 class="text-3xl font-bold leading-none mb-3">
                3 TYROLIENNES GÉANTES !
            </h3>
            <p>
                    Tu vas tester ton agilité, ta peur du vide. Marcher sur un tronc, franchir une passerelle, passer un filet, un pont de singe, un pont tibétain, et le grand final c’est la tyrolienne : tu vas glisser le long d'un câble comme un oiseau et atterrir contre un matelas douillet .
            </p>
        </div>
    </div>
</div>
</section>
<div>
    <section class="bg-vert-ciel w-full pt-12 lg:pt-28 xl:pt-40 relative">
    <div class="absolute w-full top-0 transform -translate-y-1">
        <img class="w-full" src="/theme/oc-aventures-2021/img/divider-top-nuage2.svg">
    </div>
    <div class="container max-w-3xl mx-auto p-5">
        <h1 class="text-3xl md:text-4xl text-sombre font-bold leading-none text-center my-12">
            GALLERIE PHOTO
        </h1>
        <div>
            <div class="flex flex-wrap">
                <div class="md:w-1/3">
                    <div>
                        <div class="p-4">
                            <figure class="popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                                <img src="/thumbs/1000×1000×max/1616680723_tyro-enfant-sunshine.jpg" data-image="1">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="md:w-2/3">
                    <div class="p-4">
                        <figure class="popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                            <img src="/thumbs/1000×1000×max/sunshine-atelier-enfant3.jpg" data-image="1">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flex flex-wrap">
                <div class="md:w-1/2">
                    <figure class="p-4 popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                        <img src="/thumbs/1000×1000×max/sunshine-atelier-enfant.jpg" data-image="1">
                    </figure>
                </div>
                <div class="md:w-1/2">
                    <figure class="p-4 popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                        <img src="/thumbs/1000×1000×max/sunshine-atelier-enfant4.jpg" data-image="1">
                    </figure>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap">
                    <div class="md:w-2/3">
                        <div class="p-4">
                            <figure class="popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                                <img src="/thumbs/1000×1000×max/sunshine-atelier-enfant6.jpg" data-image="1">
                            </figure>
                        </div>
                    </div>
                    <div class="md:w-1/3">
                        <div class="p-4">
                            <figure class="popup-image transform hover:opacity-80 hover:scale-105 cursor-pointer duration-500">
                                <img src="/thumbs/1000×1000×max/1616680738_tyro-enfant-sunshine2.jpg" data-image="1">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full bottom-0 transform translate-y-4">
        <img class="w-full" src="/theme/oc-aventures-2021/img/contact-bottom-divider.svg">
    </div>
    </section><section class="bg-rouge-800 relative">
    <div class="container max-w-5xl mx-auto px-5 pb-32 flex flex-wrap items-center justify-center text-sable">
        <h1 class="w-full my-12 text-sable text-3xl md:text-4xl font-semibold leading-tight text-center">
          INFO PRATIQUES
        </h1>
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-sable pointer-events-none">
                </div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-yellow-500 text-white relative z-10 title-font font-medium text-sm">
                1
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-yellow-100 text-yellow-500 rounded-full inline-flex items-center justify-center">
                    <figure>
                        <svg fill="currentColor" stroke="none" class="w-12 h-12" viewbox="0 0 295.526 295.526">
                        <g>
                        <path d="M147.763,44.074c12.801,0,23.858-8.162,27.83-20.169c-7.578,2.086-17.237,3.345-27.83,3.345 c-10.592,0-20.251-1.259-27.828-3.345C123.905,35.911,134.961,44.074,147.763,44.074z"></path>
                        <path d="M295.158,58.839c-0.608-1.706-1.873-3.109-3.521-3.873l-56.343-26.01c-11.985-4.06-24.195-7.267-36.524-9.611 c-0.434-0.085-0.866-0.126-1.292-0.126c-3.052,0-5.785,2.107-6.465,5.197c-4.502,19.82-22.047,34.659-43.251,34.659 c-21.203,0-38.749-14.838-43.25-34.659c-0.688-3.09-3.416-5.197-6.466-5.197c-0.426,0-0.858,0.041-1.292,0.126 c-12.328,2.344-24.538,5.551-36.542,9.611L3.889,54.965c-1.658,0.764-2.932,2.167-3.511,3.873 c-0.599,1.726-0.491,3.589,0.353,5.217l24.46,48.272c1.145,2.291,3.474,3.666,5.938,3.666c0.636,0,1.281-0.092,1.917-0.283 l27.167-8.052v161.97c0,3.678,3.001,6.678,6.689,6.678h161.723c3.678,0,6.67-3.001,6.67-6.678V107.66l27.186,8.052 c0.636,0.191,1.28,0.283,1.915,0.283c2.459,0,4.779-1.375,5.94-3.666l24.469-48.272C295.629,62.428,295.747,60.565,295.158,58.839z "></path>
                        </g>
                        </svg>
                    </figure>
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font mb-1 text-xl">
                        <b>Vêtements Adéquats</b>
                    </h2>
                    <p class="leading-relaxed">
                        Vêtements de sport, chaussures fermées et gants sont conseillés. Penser aussi à prendre un élastique pour garder les cheveux attaché.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-sable pointer-events-none">
                </div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-yellow-500 text-white relative z-10 title-font font-medium text-sm">
                2
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-yellow-100 text-yellow-500 rounded-full inline-flex items-center justify-center">
                    <svg fill="currentColor" stroke="none" class="w-12 h-12" viewbox="0 0 488.85 488.85">
                    <path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2 s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025 c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3 C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7 c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z">
                    </path></svg>
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font mb-1 text-xl">
                        <b>Autonomie Sur Les Parcours</b>
                    </h2>
                    <p class="leading-relaxed">
                        Après avoir écouté les consignes de sécurité, la surveillance est assurée par les parents ou adultes responsables.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-sable pointer-events-none">
                </div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-yellow-500 text-white relative z-10 title-font font-medium text-sm">
                3
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-yellow-100 text-yellow-500 rounded-full inline-flex items-center justify-center">
                    <svg fill="currentColor" stroke="none" class="w-14 h-14" viewbox="0 0 135.467 135.467">
                    <path d="M 135.46595,135.51193 0,135.5122 V 0.04553658 h 135.46595 z m -108.63252,0.008 c -2.80318,-0.2628 -3.57174,-4.47078 -1.53326,-6.42379 0.97917,-0.93809 2.12174,-0.9039 4.61277,-1.23896 l 2.10132,-0.28265 V 79.680589 31.786639 l 30.40774,0.0705 c 30.24413,0.0701 30.41169,0.0735 31.13834,0.61602 1.31164,0.97937 1.7911,1.86032 1.7911,3.29095 0,1.43053 -0.47938,2.3114 -1.79092,3.29094 -0.71397,0.53323 -1.05759,0.5472 -15.26333,0.62028 l -14.53293,0.0748 v 4.22471 4.22471 l -6.54844,0.001 c -6.06761,8e-4 -6.61175,0.0396 -7.41074,0.52675 -2.55558,1.55815 -2.55558,5.32388 0,6.88203 0.79899,0.48715 1.34313,0.52583 7.41074,0.52674 l 6.54844,9.2e-4 v 3.96875 3.96875 l -6.54844,0.001 c -6.06761,8e-4 -6.61175,0.0396 -7.41074,0.52675 -2.55558,1.55815 -2.55558,5.32388 0,6.88203 0.79899,0.48715 1.34313,0.52583 7.41074,0.52674 l 6.54844,9.2e-4 v 3.96875 3.96875 l -6.54844,0.001 c -6.06761,8e-4 -6.61175,0.0396 -7.41074,0.52675 -1.20586,0.73522 -1.91384,2.00814 -1.91384,3.44101 0,1.43288 0.70798,2.70579 1.91384,3.44102 0.79899,0.48715 1.34313,0.52583 7.41074,0.52674 l 6.54844,9.2e-4 v 3.96875 3.96875 l -6.54844,10e-4 c -6.06761,8e-4 -6.61175,0.0396 -7.41074,0.52675 -2.55558,1.55815 -2.55558,5.323881 0,6.882031 0.79899,0.48715 1.34313,0.52583 7.41074,0.52674 l 6.54844,9.2e-4 v 3.96875 3.96875 l -6.54844,0.001 c -6.06761,8e-4 -6.61175,0.0396 -7.41074,0.52675 -2.55558,1.55815 -2.55558,5.32388 0,6.88203 0.79899,0.48715 1.34313,0.52583 7.41074,0.52674 l 6.54844,9.2e-4 v 3.96875 3.96875 h 3.96875 3.96875 l 0.003,2.97657 c 0,1.63711 0.12546,3.42304 0.27701,3.96875 l 0.27554,0.99218 5.47767,-0.0227 c 3.53708,-0.0147 5.20623,-0.10396 4.71152,-0.25201 -1.0795,-0.32304 -2.2337,-1.51324 -2.54135,-2.62062 -0.15317,-0.55145 -0.26205,-5.59222 -0.26289,-12.17488 l -0.003,-11.23378 -3.81172,-3.84746 c -3.8027,-3.83833 -3.81214,-3.8509 -3.98505,-5.30266 -0.0953,-0.800371 -0.13623,-6.834211 -0.0909,-13.408541 0.0799,-11.59342 0.0989,-11.97531 0.62796,-12.68365 0.30004,-0.40168 0.87405,-0.97581 1.27558,-1.27584 0.69173,-0.51689 1.16986,-0.55246 9.11178,-0.67781 4.88725,-0.0771 7.75366,-0.2064 6.87533,-0.31006 -4.71353,-0.55627 -8.92911,-4.81031 -9.72905,-9.81783 -1.01306,-6.3414 3.52449,-12.49649 9.87544,-13.39589 9.42279,-1.33443 16.42647,8.21488 12.32617,16.80631 -1.54032,3.22744 -5.30161,6.01076 -8.65759,6.40654 -0.89014,0.10497 1.94178,0.2332 6.86686,0.31093 7.94192,0.12535 8.42005,0.16092 9.11178,0.67781 0.40153,0.30003 0.97554,0.87416 1.27558,1.27584 0.52909,0.70834 0.54801,1.09023 0.62796,12.68365 0.0453,6.57433 0.005,12.60817 -0.0909,13.408541 -0.17291,1.45176 -0.18235,1.46433 -3.98505,5.30266 l -3.81172,3.84746 -0.003,11.23379 c 0,6.58266 -0.10972,11.62343 -0.26289,12.17488 -0.30765,1.10738 -1.58017,2.34389 -2.56284,2.89528 0,0 6.54534,-0.001 17.03239,-6.3e-4 l 17.81057,6.8e-4 V 67.778869 0.04553658 l -37.63698,0.02275 c -21.67945,0.0131 -37.48828,-0.04251 -37.04695,0.08955 1.0795,0.323044 2.40982,1.67570102 2.71748,2.78308202 0.14377,0.517597 0.26209,1.863818 0.26289,2.991604 l 0.003,2.050521 h -15.875 -15.875 l 0.003,-2.050521 c 0,-1.127786 0.11912,-2.474007 0.26289,-2.991604 0.30766,-1.107381 2.03937,-2.56390402 3.11887,-2.88694802 0.45156,-0.135128 -7.11754,0.02772 -17.6046,0.01431 L 0,0.04553058 V 67.778859 135.5122 l 13.79379,-0.001 13.03996,0.009 z M 32.01426,19.882358 v -3.975683 l 18.5016,0.07308 c 18.21606,0.07195 18.51287,0.08149 19.23208,0.618591 1.5321,1.144132 1.79531,1.78118 1.9094,4.621123 l 0.10596,2.63857 H 51.88878 32.01426 Z"></path>
                    </svg>
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font mb-1 text-xl">
                        <b>Réservé Aux Moins De 8 Ans</b>
                    </h2>
                    <p class="leading-relaxed">
                        Les parcours enfants  sont réservé aux enfants&nbsp;âgés de moins de 8 ans et d'au minimum 4 ans.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-sable pointer-events-none">
                </div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-yellow-500 text-white relative z-10 title-font font-medium text-sm">
                4
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-yellow-100 text-yellow-500 rounded-full inline-flex items-center justify-center">
                    <figure>
                        <svg fill="currentColor" stroke="none" class="w-12 h-12" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <g>
                        <path d="m418.936 160.769v-62.269h-325.872v62.269h44.241l-64.235 252.731h62.268l64.236-252.731h112.852l64.236 252.731h62.268l-64.235-252.731z"></path>
                        <path d="m512 209.238h-84v30h27v30h-22.736l7.625 30h45.111v-60h27z"></path>
                        <path d="m57 269.238v-30h27v-30h-84v30h27v60h45.111l7.625-30z"></path>
                        <path d="m202.259 268.238-15.827 62.269h139.136l-15.827-62.269z"></path>
                        </g>
                        </svg>
                    </figure>
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font mb-1 text-xl">
                        <b>Espaces Détentes</b>
                    </h2>
                    <p class="leading-relaxed">
                        Le parc dispose d'espaces ombragés, tables de pique-nique, en libre service, pour le déjeuné ou la pause goûté !
                    </p>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>