{% set background = background|default('#f8fafc') %}

<!-- Divider swirl -->
<div class="absolute bottom-0 full-w h-50">
<!-- Divider swirl -->
	<svg viewBox="0 0 451.556 45" version="1.1"
	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	<g fill-rule="nonzero" transform="translate(148.80809,7.8008709)">
      <path
         style="fill:#861f0b;stroke-width:0.352778"
         d="m -148.80667,16.298911 1.3236,-0.211656 c 6.51139,-1.041213 37.24647,-3.463565 54.768064,-4.31649 l 4.762501,-0.231828 7.761111,2.476444 c 4.268611,1.362043 9.705559,3.05465 12.082107,3.761345 l 4.320995,1.284901 21.431783,-0.10353 21.431784,-0.103529 4.056944,-1.366291 c 2.23132,-0.751459 9.148717,-3.394608 15.3719924,-5.873666 C 11.786242,6.3236852 19.514274,3.6818841 27.356055,1.7517133 c 12.504942,-3.0779545 18.719232,-3.618029 38.149778,-3.3155397 16.088861,0.2504687 22.525775,-0.071639 28.927779,-1.4475602 7.574198,-1.6278543 23.308248,-3.2858182 41.980558,-4.4236747 7.94442,-0.484117 26.87601,-0.4887489 31.75,-0.00776 5.33112,0.526094 5.74408,0.6181619 23.28333,5.1911075 35.16881,9.1694356 54.60196,14.9272558 65.26389,19.3369538 l 4.58612,1.896777 19.40277,1.789726 c 10.67153,0.984349 19.99778,1.828797 20.72499,1.876556 l 1.32221,0.08683 V 37.199027 H 76.9697 -148.80809 Z"
         id="path862"/>
	</g>
	</svg>

</div>
