{% extends 'partials/_master.twig' %}

{% block main %}

{% setcontent homepage = 'homepage' %}
<!--Hero-->
<section class="pt-24 relative bg-center bg-cover bg-no-repeat" style="background-image: linear-gradient(rgba(0, 0, 0, 0.408), rgba(0, 0, 0, 0.408)), url({{homepage.heroimage.url}})">
	<div class="container mb-20 px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		<div class="flex flex-col text-center w-full">
			<img style="border-radius: 1.5rem;" src="{{ homepage.image|thumbnail(600, 400, fit="crop") }}">
		</div>
		<div class="flex flex-col justify-center items-start text-center">
			<p class="leading-normal font-semibold text-2xl mb-8 text-white">{{ homepage.introduction|excerpt }}</p>
		</div>
	</div>
    {% include 'partials/_index_divider_top.twig' %}
</section>


  {{ homepage.intro_content }}

  {% include 'partials/_index_3_column_block_images.twig' with { contenttype: 'entries' } %}

  {% if 'people' in config.get('contenttypes').keys() %}
    {% include 'partials/_index_team.twig' with { content: 'blocks/people', contenttype: 'people' } %}
  {% endif %}

  {% if 'products' in config.get('contenttypes').keys() %}
    {% include 'partials/_index_pricing_block.twig' with { content: 'blocks/products', contenttype: 'products' } %}
  {% endif %}

  {% if 'pages' in config.get('contenttypes').keys() %}
    {% include 'partials/_index_3_column_block.twig' with { content: 'blocks/about', contenttype: 'pages' } %}
  {% endif %}

  {% include 'partials/_index_divider_bottom.twig' with { background: '#FFF' } %}

  {% include 'partials/_index_CTA.twig' with { content: 'blocks/call-to-action' } %}

  {% include 'partials/_index_divider_top.twig' with { background: '#f8fafc' } %}

  {% include 'partials/_index_contact_with_map.twig' %}

{% endblock main %}